{% extends "ProyectoPrincipalBundle:Principal:base.html.twig" %}

{%block contenido%}

	{% if slug == 'seguros'%}

		<h1>listado de seguros!!!</h1>

	{% endif %}

{% endblock %}

{%block scripts%}
{%endblock%} 

{%block alertanormal%}
{%endblock%} 